body{
    background-color: black;
}
.logo{
    width: 45px!important;
}
.menu{
   padding-left: 80px;
   padding-right: 80px;
}

.bg-dark{
    background-color: transparent!important;
}

.sessao{
    height: 100vh;
    background-image: url("Imagens/fundo.jpg");
    filter: brightness(40%);
    background-size:cover;
    
}