
body {
    height: 100vh;
    background-color: rgb(19, 19, 31);
    font-family: 'Inter', sans-serif;
    
}

.logo{
    width: 120px !important;
}

.bg-dark{
    background-color: transparent!important;
}

.form-control{
    background: rgb(40, 40, 48)!important;
    color: white!important;
}

.sessaoprincipal{
    max-width: 1281px;
    margin: 50px auto 100px;
    color: rgb(254, 251, 251);
}

.banner-inicial{
    width: 100%;
    height: 300px; 
    color: white;
    position: relative;
}

 .banner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-banner{
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 99;
}

.sombra{
    position: absolute;
    background: linear-gradient(360deg, rgb(19, 19, 31) 3.01%, rgba(19, 19, 31, 0) 119.99%);  
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.sombras{
    position: absolute;
    background: linear-gradient(90deg, rgb(19, 19, 31) 3.01%, rgba(19, 19, 31, 0) 119.99%);  
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.nome-filme{
    font-size: 2rem;
}

.banner-buscado{
    width: 100%;
    height: 400px; 
    color: white;
    position: relative;
}
.info-filme{
    display: flex;
    color: white;
    align-items:flex-start;
    position: relative;
}

.banner-pesquisado{
    height: 100%;
    width: 100%;
}

.banner-pesquisado img{
    width: 300px;
    position: absolute;
    top: -100px;
    right: 100px;
}

.logo-filtrado{
    width: 90px;
}

.header-banner{
    position: absolute;
    top: 20px;
    left: 30px;
}

.fotter-banner{
    position: absolute;
    bottom: 100px;
    display: flex;
    z-index: 2;
    margin-left: 30px;
}

.item-banner{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 200px;
    align-items: center;
    justify-content: center;  
    font-size: 0.7rem;
}
.informacao-filme{
    display: flex;
    margin-right: 30px;
}

.item-descricao-banner{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-size: 0.7rem;
}

.grid-container{
    max-width: 1281px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 23px;
}

.grid-item{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 0px 13px 0 rgb(27 49 89);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    max-width: 410px;
    position: relative;
    overflow: hidden;
    
}
.grid-item > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 
}

.original_title{
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 1rem;
    margin-left: 10px;
    z-index: 2;
}

.dados-filme{
    max-width: 800px;
}

.grid-item > img{ 
    transform: scale(1);
    transition: 0.9s ease-in-out;
}

.footer{
    display: flex;
    height: 200px;
    align-items: flex-end;
    color: #fff;
    justify-content: center;
}
.grid-item > .sombra{
    cursor: pointer;
}
.grid-item:hover img{
    transform: scale(1.2);
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-track {
    background: rgb(19, 19, 31);      /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #14a2c5;  /* creates padding around scroll thumb */

}




@media (max-width: 1200px){
 
    .banner-pesquisado{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .banner-pesquisado img{
        position: initial!important;
        right: initial!important;
    }
    
    .info-filme{
        display: flex;
        flex-direction: row-reverse;
        flex-direction: column;
        justify-content: center;
    }


 
}


@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1306px;
    }

}

@media (max-width: 662px){
    .grid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    .grid-item{
        margin-bottom: 20px;
    }
}
