body{
    background-color: black;
}
.logo{
    width: 45px!important;
}
.menu{
   padding-left: 80px;
   padding-right: 80px;
}

.bg-dark{
    background-color: transparent!important;
}

.sessao{
    height: 100vh;
    background-image: url("Imagens/fundo.png");
    //filter: brightness(40%);
    background-size:cover;
    
}
.sessao > .conteudo{
    display: flex;
    flex-wrap: wrap;
    filter: brightness(80%);
    padding-top: 80px; 
    align-items: center;
    justify-content: center;
}

.filmes{
    padding: 10px;
}

.filmes > img{
    width: 250px;
    height: 350px;
}